{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSS Assignment2: Horizontal List</title>

    <style>
        .list1{
            padding: 0;
            list-style: none;

        }

    .list1 li{
        color: white;
        font-family:sans-serif;
        font-weight: bold;
        display: inline;
        width:fit-content;
        padding-inline-start: 5px;
        padding-inline-end: 5px;
        border-right: solid;
        }

        .table{
            display: table;
            background: rgba(5, 50, 102, 0.918);
        }
    </style>
</head>
<body>
    <div class="table">
        <ul class="list1">
            <li>Home</li>
            <li>The University</li>
            <li>Vice Chancellor's Desk</li>
            <li>Pareeksha Bhavan</li>
            <li>Teaching Department</li>
        </ul>
    </div>

</body>
</html>