<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Html assignment2:Page with background-image</title>
</head>
<!-- <style>
    body{
        background-image: url('static/images/BaabtraImage1.png');
    }
</style> -->
<body>
    <!-- <form action=""> 
        <label for="bgImage">Please upload your image:</label> 
        <input type="file" id="bgImage" > 
        <input type="submit" value="Upload"> <br><br>

        
    </form> -->

   <img src='/static/images/BaabtraImage1.png' alt="Baabtra" width="1510" height="790"> 
   <!-- <img src="static/images/BaabtraImage1.png" alt="Baabtra" width="1024" height="768">  -->
   
</body>
</html>